@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f2421;
}

#score {
  color: white;
}

#cookie {
  height: 200px;
  width: 200px;
  cursor: pointer;
  margin: 15px;
  border-radius: 50%;
}

#cookie:active {
  zoom: 107%;
}

.upgrade {
  border: none;
  background: rgb(201, 108, 47);
  border-radius: 5px;
  padding: 7px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin: 5px;
}

.upgrade:hover {
  box-shadow: 0px 0px 7px black;
}
